<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.union.business.commodity.dao.BisCommodityDao">
	<resultMap id="BaseResultMap"
		type="team.union.business.commodity.model.BisCommodity">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="commodity_name" property="commodityName"
			jdbcType="VARCHAR" />
		<result column="commodity_price" property="commodityPrice"
			jdbcType="DECIMAL" />
		<result column="commodity_old_price" property="commodityOldPrice"
			jdbcType="DECIMAL" />
		<result column="commodity_store_id" property="commodityStoreId"
			jdbcType="BIGINT" />
		<result column="commodity_num" property="commodityNum"
			jdbcType="INTEGER" />
		<result column="commodity_quality" property="commodityQuality"
			jdbcType="DECIMAL" />
		<result column="commodity_pic" property="commodityPic"
			jdbcType="VARCHAR" />
		<result column="commodity_pic2" property="commodityPic2"
			jdbcType="VARCHAR" />
		<result column="commodity_pic3" property="commodityPic3"
			jdbcType="VARCHAR" />
		<result column="commodity_sort_num" property="commoditySortNum"
			jdbcType="INTEGER" />
		<result column="commodity_introduction" property="commodityIntroduction"
			jdbcType="CLOB" />
		<result column="commodity_status" property="commodityStatus"
			jdbcType="INTEGER" />
		<result column="homepage_show" property="homepageShow"
			jdbcType="INTEGER" />
		<result column="timing_off" property="timingOff" jdbcType="TIMESTAMP" />
		<result column="timing_begain" property="timingBegain"
			jdbcType="TIMESTAMP" />
		<result column="is_timing" property="isTiming" jdbcType="INTEGER" />
		<result column="commodity_creat_time" property="commodityCreatTime" jdbcType="TIMESTAMP" />
		<result column="commodity_type_id" property="commodityTypeId" jdbcType="BIGINT" />
		<result column="commodity_volume" property="commodityVolume" jdbcType="INTEGER" />
		<result column="commodity_number" property="commodityNumber" jdbcType="INTEGER" />
		<result column="commodity_num_decrease" property="commodityNumDecrease" jdbcType="INTEGER" />
		<result column="commodity_sale_num" property="commoditySaleNum" jdbcType="INTEGER" />
		<result column="commodity_sale_add" property="commoditySaleAdd" jdbcType="INTEGER" />
		<result column="commodity_del" property="commodityDel" jdbcType="INTEGER" />
		
		<result column="type_name" property="commodityTypeName"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, commodity_name, commodity_price, commodity_old_price,
		commodity_store_id, commodity_num,
		commodity_quality, commodity_pic, 
		commodity_pic2, commodity_pic3, 
		commodity_sort_num, commodity_introduction,
		commodity_status,
		homepage_show, timing_off, timing_begain, is_timing,
		commodity_creat_time,commodity_type_id,commodity_volume,
		commodity_number,commodity_num_decrease,commodity_sale_num,
		commodity_sale_add,commodity_del
	</sql>
	<!-- <select id="selectByExample" resultMap="BaseResultMap"
		parameterType="team.union.business.commodity.model.BisCommodityExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from bis_commodity
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select> -->
	<!-- 分页查询 -->
	<select id="selMap" resultType="hashmap" parameterType="hashmap">
		select 
		<include refid="Base_Column_List" />
		from bis_commodity
		<where>
			commodity_del = 0
			<if test="commodityName != null and commodityName != ''">
				and (commodity_name like CONCAT('%',#{commodityName,jdbcType=VARCHAR},'%')
					or
					commodity_number = #{commodityName}
				)
			</if>
			<if test="commodityTypeId != null and commodityTypeId != ''">
				and commodity_type_id = #{commodityTypeId,jdbcType=BIGINT}
			</if>
			<if test="commodityStatus != null and commodityStatus != ''">
				and commodity_status = #{commodityStatus,jdbcType=INTEGER}
			</if>
		</where>
		order by
			commodity_creat_time desc,commodity_sort_num desc
	</select>
	<!-- 根据id 查询单个商品详细信息 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		,ty.type_name
		from bis_commodity,
		bis_commodity_type ty
		where id = #{id,jdbcType=BIGINT}
		and ty.type_id = commodity_type_id
	</select>
	<!-- 批量操作：删除，上架，下架 -->
	<update id="batchOpearate" parameterType="hashmap">
		update bis_commodity
		<set>
			<if test="del != null and del != ''">
				commodity_del = 1,
			</if>
			<if test="onSale != null and onSale != ''">
				commodity_status = 1
			</if>
			<if test="offSale != null and offSale != ''">
				commodity_status = 2
			</if>
		</set>
		<where>
			<if test="data != null and data != ''">
				and id in
				<foreach collection="data" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
		</where>
	</update>
	<!-- 自动上架 -->
	<update id="onSaleAuto">
	<![CDATA[
		update bis_commodity
		set
		commodity_status = 1
		where
		commodity_status != 1 
		and is_timing = 1
		and timing_begain <= NOW()
		and timing_off > NOW()
	]]> 
	</update>
	<!-- 自动下架 -->
	<update id="offSaleAuto">
	<![CDATA[
		update bis_commodity
		set
		commodity_status = 2
		where
		commodity_status != 2 
		and is_timing = 1
		and timing_off < NOW()
	]]> 
	</update>
	<!-- 编辑单个商品 -->
	<update id="updateOne" parameterType="team.union.business.commodity.model.BisCommodity">
		update bis_commodity
		<set>
			<if test="commodityName != null and commodityName != ''">
				commodity_name = #{commodityName,jdbcType=VARCHAR},
			</if>
			<if test="commodityPrice != null and commodityPrice != ''">
				commodity_price = #{commodityPrice,jdbcType=DECIMAL},
			</if>
			<if test="commodityOldPrice != null and commodityOldPrice != ''">
				commodity_old_price = #{commodityOldPrice,jdbcType=DECIMAL},
			</if>
			<if test="commodityStoreId != null and commodityStoreId != ''">
				commodity_store_id = #{commodityStoreId,jdbcType=BIGINT},
			</if>
			<if test="commodityNum != null">
				commodity_num = #{commodityNum,jdbcType=INTEGER},
			</if>
			<if test="commodityQuality != null and commodityQuality != ''">
				commodity_quality = #{commodityQuality,jdbcType=DECIMAL},
			</if>
			<if test="commodityPic != null and commodityPic != ''">
				commodity_pic = #{commodityPic,jdbcType=VARCHAR},
			</if>
			<if test="commodityPic2 != null and commodityPic2 != ''">
				commodity_pic2 = #{commodityPic2,jdbcType=VARCHAR},
			</if>
			<if test="commodityPic3 != null and commodityPic3 != ''">
				commodity_pic3 = #{commodityPic3,jdbcType=VARCHAR},
			</if>
			<if test="commoditySortNum != null">
				commodity_sort_num = #{commoditySortNum,jdbcType=INTEGER},
			</if>
			<if test="commodityIntroduction != null and commodityIntroduction != ''">
				commodity_introduction = #{commodityIntroduction,jdbcType=CLOB},
			</if>
			<if test="commodityStatus != null">
				commodity_status = #{commodityStatus,jdbcType=INTEGER},
			</if>
			<if test="homepageShow != null">
				homepage_show = #{homepageShow,jdbcType=INTEGER},
			</if>
			<if test="timingOff != null and timingOff != ''">
				timing_off = #{timingOff,jdbcType=TIMESTAMP},
			</if>
			<if test="timingBegain != null and timingBegain != ''">
				timing_begain = #{timingBegain,jdbcType=TIMESTAMP},
			</if>
			<if test="isTiming != null">
				is_timing = #{isTiming,jdbcType=INTEGER},
			</if>
			
			<if test="commodityCreatTime != null and commodityCreatTime != ''">
				commodity_creat_time = #{commodityCreatTime,jdbcType=TIMESTAMP},
			</if>
			<if test="commodityTypeId != null and commodityTypeId != ''">
				commodity_type_id = #{commodityTypeId,jdbcType=BIGINT},
			</if>
			<if test="commodityVolume != null">
				commodity_volume = #{commodityVolume,jdbcType=INTEGER},
			</if>
			<if test="commodityNumber != null and commodityNumber != ''">
				commodity_number = #{commodityNumber,jdbcType=VARCHAR},
			</if>
			<if test="commodityNumDecrease != null">
				commodity_num_decrease = #{commodityNumDecrease,jdbcType=INTEGER},
			</if>
			<if test="commoditySaleAdd != null">
				commodity_sale_add = #{commoditySaleAdd,jdbcType=INTEGER},
			</if>
		</set>
		where id=#{id,jdbcType=BIGINT}
	</update>
	<!-- 新增商品 -->
	<insert id="insert" parameterType="team.union.business.commodity.model.BisCommodity">
		insert into bis_commodity (id, commodity_name, commodity_price,
		commodity_old_price, commodity_store_id, commodity_num,
		commodity_quality, commodity_pic, 
		commodity_pic2,commodity_pic3,
		commodity_sort_num,
		commodity_introduction, commodity_status,
		homepage_show, timing_off, timing_begain,
		is_timing,
		commodity_creat_time,commodity_type_id,commodity_volume,
		commodity_number,commodity_num_decrease,commodity_sale_num,
		commodity_sale_add,commodity_del)
		values (#{id,jdbcType=BIGINT}, #{commodityName,jdbcType=VARCHAR},
		#{commodityPrice,jdbcType=DECIMAL},
		#{commodityOldPrice,jdbcType=DECIMAL},
		#{commodityStoreId,jdbcType=BIGINT}, #{commodityNum,jdbcType=INTEGER},
		#{commodityQuality,jdbcType=DECIMAL},
		#{commodityPic,jdbcType=VARCHAR},
		#{commodityPic2,jdbcType=VARCHAR},
		#{commodityPic3,jdbcType=VARCHAR},
		#{commoditySortNum,jdbcType=INTEGER},
		#{commodityIntroduction,jdbcType=CLOB},
		#{commodityStatus,jdbcType=INTEGER},
		#{homepageShow,jdbcType=INTEGER}, #{timingOff,jdbcType=TIMESTAMP}, #{timingBegain,jdbcType=TIMESTAMP},
		#{isTiming,jdbcType=INTEGER},
		now(),#{commodityTypeId,jdbcType=BIGINT},#{commodityVolume,jdbcType=INTEGER},
		#{commodityNumber,jdbcType=VARCHAR},#{commodityNumDecrease,jdbcType=INTEGER},
		0,#{commoditySaleAdd,jdbcType=INTEGER},0)
	</insert>
	
	<!-- Shuqianli活动接口：获取未选择的商品 -->
	<select id="getavtivityCommodity" parameterType="hashmap" resultType="hashmap">
	select id, 
		commodity_name commodityName, 
		commodity_price commodityPrice, 
		commodity_old_price commodityOldPrice,
		commodity_store_id commodityStoreId, 
		commodity_num commodityNum,
		commodity_status commodityStatus,
		commodity_type_id commodityTypeId,
		commodity_number commodityNumber,
		commodity_sale_num commoditySaleNum
	from bis_commodity
	<where>
		<if test="storeId != null">
		and commodity_store_id = #{storeId}
		</if>
		<if test="idList != null">
				and id not in
				<foreach collection="idList" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
	</where>
	</select>
	<!-- 以下暂时不需要 -->
	<!-- 
	<insert id="insertSelective" parameterType="team.union.business.commodity.model.BisCommodity">
		insert into bis_commodity
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="commodityName != null">
				commodity_name,
			</if>
			<if test="commodityPrice != null">
				commodity_price,
			</if>
			<if test="commodityOldPrice != null">
				commodity_old_price,
			</if>
			<if test="commodityStoreId != null">
				commodity_store_id,
			</if>
			<if test="commodityNum != null">
				commodity_num,
			</if>
			<if test="commodityQuality != null">
				commodity_quality,
			</if>
			<if test="commodityPic != null">
				commodity_pic,
			</if>
			<if test="commoditySortNum != null">
				commodity_sort_num,
			</if>
			<if test="commodityIntroduction != null">
				commodity_introduction,
			</if>
			<if test="commodityStatus != null">
				commodity_status,
			</if>
			<if test="homepageShow != null">
				homepage_show,
			</if>
			<if test="timingOff != null">
				timing_off,
			</if>
			<if test="timingBegain != null">
				timing_begain,
			</if>
			<if test="isTiming != null">
				is_timing,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="commodityName != null">
				#{commodityName,jdbcType=VARCHAR},
			</if>
			<if test="commodityPrice != null">
				#{commodityPrice,jdbcType=DECIMAL},
			</if>
			<if test="commodityOldPrice != null">
				#{commodityOldPrice,jdbcType=DECIMAL},
			</if>
			<if test="commodityStoreId != null">
				#{commodityStoreId,jdbcType=BIGINT},
			</if>
			<if test="commodityNum != null">
				#{commodityNum,jdbcType=INTEGER},
			</if>
			<if test="commodityQuality != null">
				#{commodityQuality,jdbcType=DECIMAL},
			</if>
			<if test="commodityPic != null">
				#{commodityPic,jdbcType=VARCHAR},
			</if>
			<if test="commoditySortNum != null">
				#{commoditySortNum,jdbcType=INTEGER},
			</if>
			<if test="commodityIntroduction != null">
				#{commodityIntroduction,jdbcType=VARCHAR},
			</if>
			<if test="commodityStatus != null">
				#{commodityStatus,jdbcType=INTEGER},
			</if>
			<if test="homepageShow != null">
				#{homepageShow,jdbcType=INTEGER},
			</if>
			<if test="timingOff != null">
				#{timingOff,jdbcType=TIMESTAMP},
			</if>
			<if test="timingBegain != null">
				#{timingBegain,jdbcType=TIMESTAMP},
			</if>
			<if test="isTiming != null">
				#{isTiming,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="team.union.business.commodity.model.BisCommodityExample"
		resultType="java.lang.Integer">
		select count(*) from bis_commodity
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from bis_commodity
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample"
		parameterType="team.union.business.commodity.model.BisCommodityExample">
		delete from bis_commodity
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<update id="updateByExampleSelective" parameterType="map">
		update bis_commodity
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=BIGINT},
			</if>
			<if test="record.commodityName != null">
				commodity_name = #{record.commodityName,jdbcType=VARCHAR},
			</if>
			<if test="record.commodityPrice != null">
				commodity_price = #{record.commodityPrice,jdbcType=DECIMAL},
			</if>
			<if test="record.commodityOldPrice != null">
				commodity_old_price = #{record.commodityOldPrice,jdbcType=DECIMAL},
			</if>
			<if test="record.commodityStoreId != null">
				commodity_store_id = #{record.commodityStoreId,jdbcType=BIGINT},
			</if>
			<if test="record.commodityNum != null">
				commodity_num = #{record.commodityNum,jdbcType=INTEGER},
			</if>
			<if test="record.commodityQuality != null">
				commodity_quality = #{record.commodityQuality,jdbcType=DECIMAL},
			</if>
			<if test="record.commodityPic != null">
				commodity_pic = #{record.commodityPic,jdbcType=VARCHAR},
			</if>
			<if test="record.commoditySortNum != null">
				commodity_sort_num = #{record.commoditySortNum,jdbcType=INTEGER},
			</if>
			<if test="record.commodityIntroduction != null">
				commodity_introduction =
				#{record.commodityIntroduction,jdbcType=VARCHAR},
			</if>
			<if test="record.commodityStatus != null">
				commodity_status = #{record.commodityStatus,jdbcType=INTEGER},
			</if>
			<if test="record.homepageShow != null">
				homepage_show = #{record.homepageShow,jdbcType=INTEGER},
			</if>
			<if test="record.timingOff != null">
				timing_off = #{record.timingOff,jdbcType=TIMESTAMP},
			</if>
			<if test="record.timingBegain != null">
				timing_begain = #{record.timingBegain,jdbcType=TIMESTAMP},
			</if>
			<if test="record.isTiming != null">
				is_timing = #{record.isTiming,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update bis_commodity
		set id = #{record.id,jdbcType=BIGINT},
		commodity_name = #{record.commodityName,jdbcType=VARCHAR},
		commodity_price = #{record.commodityPrice,jdbcType=DECIMAL},
		commodity_old_price = #{record.commodityOldPrice,jdbcType=DECIMAL},
		commodity_store_id = #{record.commodityStoreId,jdbcType=BIGINT},
		commodity_num = #{record.commodityNum,jdbcType=INTEGER},
		commodity_quality = #{record.commodityQuality,jdbcType=DECIMAL},
		commodity_pic = #{record.commodityPic,jdbcType=VARCHAR},
		commodity_sort_num = #{record.commoditySortNum,jdbcType=INTEGER},
		commodity_introduction = #{record.commodityIntroduction,jdbcType=VARCHAR},
		commodity_status = #{record.commodityStatus,jdbcType=INTEGER},
		homepage_show = #{record.homepageShow,jdbcType=INTEGER},
		timing_off = #{record.timingOff,jdbcType=TIMESTAMP},
		timing_begain = #{record.timingBegain,jdbcType=TIMESTAMP},
		is_timing = #{record.isTiming,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="team.union.business.commodity.model.BisCommodity">
		update bis_commodity
		<set>
			<if test="commodityName != null">
				commodity_name = #{commodityName,jdbcType=VARCHAR},
			</if>
			<if test="commodityPrice != null">
				commodity_price = #{commodityPrice,jdbcType=DECIMAL},
			</if>
			<if test="commodityOldPrice != null">
				commodity_old_price = #{commodityOldPrice,jdbcType=DECIMAL},
			</if>
			<if test="commodityStoreId != null">
				commodity_store_id = #{commodityStoreId,jdbcType=BIGINT},
			</if>
			<if test="commodityNum != null">
				commodity_num = #{commodityNum,jdbcType=INTEGER},
			</if>
			<if test="commodityQuality != null">
				commodity_quality = #{commodityQuality,jdbcType=DECIMAL},
			</if>
			<if test="commodityPic != null">
				commodity_pic = #{commodityPic,jdbcType=VARCHAR},
			</if>
			<if test="commoditySortNum != null">
				commodity_sort_num = #{commoditySortNum,jdbcType=INTEGER},
			</if>
			<if test="commodityIntroduction != null">
				commodity_introduction = #{commodityIntroduction,jdbcType=VARCHAR},
			</if>
			<if test="commodityStatus != null">
				commodity_status = #{commodityStatus,jdbcType=INTEGER},
			</if>
			<if test="homepageShow != null">
				homepage_show = #{homepageShow,jdbcType=INTEGER},
			</if>
			<if test="timingOff != null">
				timing_off = #{timingOff,jdbcType=TIMESTAMP},
			</if>
			<if test="timingBegain != null">
				timing_begain = #{timingBegain,jdbcType=TIMESTAMP},
			</if>
			<if test="isTiming != null">
				is_timing = #{isTiming,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="team.union.business.commodity.model.BisCommodity">
		update bis_commodity
		set commodity_name = #{commodityName,jdbcType=VARCHAR},
		commodity_price = #{commodityPrice,jdbcType=DECIMAL},
		commodity_old_price = #{commodityOldPrice,jdbcType=DECIMAL},
		commodity_store_id = #{commodityStoreId,jdbcType=BIGINT},
		commodity_num = #{commodityNum,jdbcType=INTEGER},
		commodity_quality = #{commodityQuality,jdbcType=DECIMAL},
		commodity_pic = #{commodityPic,jdbcType=VARCHAR},
		commodity_sort_num = #{commoditySortNum,jdbcType=INTEGER},
		commodity_introduction = #{commodityIntroduction,jdbcType=VARCHAR},
		commodity_status = #{commodityStatus,jdbcType=INTEGER},
		homepage_show = #{homepageShow,jdbcType=INTEGER},
		timing_off = #{timingOff,jdbcType=TIMESTAMP},
		timing_begain = #{timingBegain,jdbcType=TIMESTAMP},
		is_timing = #{isTiming,jdbcType=INTEGER}
		where id = #{id,jdbcType=BIGINT}
	</update> -->
</mapper>