/* login */

body.login {
  background: url(../images/login/bg.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.login-panel {
  width: 560px;
  position: absolute;
  left: 50%;
  top: 30%;
  margin-left: -280px;
}
.main-logo {
  margin: 0 auto;
}
.main-logo img{
  width: 180px;
}
.main-logo h3 {
  font-size: 28px;
  color: #fff;
  margin-top: 5px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(102, 102, 102, 0.5);
}
.login-page {
  position: relative;
}
.login-page .alert{
  border-radius: 0;
}
.login-page .form-group {
  position: relative;
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0;
  vertical-align: middle;
}
.login-form {
  width: 100%;
  position: relative;
}
.login-form .control-group {
  margin-bottom: 6px;
  position: relative;
}
.login-form .login-field {
  background: rgba(255,255,255,1);
  border: 1px solid #e5e5e5;
  width: 220px;
  height: 35px;
  padding-left: 70px;
  font-size: 14px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
.login-form .login-field:focus {
  border-color: #00acee;
}
.login-form .login-field-icon {
  color: #ccc;
  font-size: 18px;
  position: absolute;
  left: 15px;
  top: 6px;
  line-height: 1.3;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.login-form .login-field-icon:after {
  content: "";
  position: absolute;
  background: #bfc9ca;
  height: 20px;
  width: 1px;
  left: 40px;
  top: 2px;
}
body.login .btn {
  border-radius: 0;
  height: 35px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
body.login a {
  color: #555;
}
body.login a:hover {
  text-decoration: underline;
}
body.login .copyright {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #eee;
  font-size: 13px;
  /*text-shadow: 1px 1px 2px rgba(102, 102, 102, 0.5);*/
}