<!DOCTYPE html>
<html>
<head>
	<title>户型鉴赏（爱美爱家演示）</title>
	<meta charset="utf-8">
	<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<div class="select">
	<div>
		<select onchange="window.location=this.value;">
			<option value ="index.html" selected="">物业类型</option>
		  	<option value ="index.html">不限</option>
		  	<option value ="index.html">住宅</option>
		  	<option value="index.html">别墅</option>
		  	<option value="index.html">洋房</option>
		</select>
	</div>
	<div>
		<select onchange="window.location=this.value;">
			<option value ="index.html" selected="">物业类型</option>
		  	<option value ="index.html">不限</option>
		  	<option value ="index.html">住宅</option>
		  	<option value="index.html">别墅</option>
		  	<option value="index.html">洋房</option>
		</select>
	</div>
</div>
<div class="list">
	<ul>
		<li>
			<a href="huxing_detail.html">
				<h3>花千墅 <span>2</span>跃<span>3</span> <span>189.82</span></h3> 
				<p>鑫一币可抵扣房贷：<i>10000</i>元</p>
				<div class="pic">
					<img src="images/map.jpg">
					<img class="to_detail" src="images/to_detail.png">
				</div>
			</a>
		</li>
		<li>
			<a href="huxing_detail.html">
				<h3>花千墅 <span>2</span>跃<span>3</span> <span>189.82</span></h3> 
				<p>鑫一币可抵扣房贷：<i>10000</i>元</p>
				<div class="pic">
					<img src="images/map.jpg">
					<img class="to_detail" src="images/to_detail.png">
				</div>
			</a>
		</li>
		<li>
			<a href="huxing_detail.html">
				<h3>花千墅 <span>2</span>跃<span>3</span> <span>189.82</span></h3> 
				<p>鑫一币可抵扣房贷：<i>10000</i>元</p>
				<div class="pic">
					<img src="images/map.jpg">
					<img class="to_detail" src="images/to_detail.png">
				</div>
			</a>
		</li>
		<li>
			<a href="huxing_detail.html">
				<h3>花千墅 <span>2</span>跃<span>3</span> <span>189.82</span></h3> 
				<p>鑫一币可抵扣房贷：<i>10000</i>元</p>
				<div class="pic">
					<img src="images/map.jpg">
					<img class="to_detail" src="images/to_detail.png">
				</div>
			</a>
		</li>
		<li>
			<a href="huxing_detail.html">
				<h3>花千墅 <span>2</span>跃<span>3</span> <span>189.82</span></h3> 
				<p>鑫一币可抵扣房贷：<i>10000</i>元</p>
				<div class="pic">
					<img src="images/map.jpg">
					<img class="to_detail" src="images/to_detail.png">
				</div>
			</a>
		</li>
		<li>
			<a href="huxing_detail.html">
				<h3>花千墅 <span>2</span>跃<span>3</span> <span>189.82</span></h3> 
				<p>鑫一币可抵扣房贷：<i>10000</i>元</p>
				<div class="pic">
					<img src="images/map.jpg">
					<img class="to_detail" src="images/to_detail.png">
				</div>
			</a>
		</li>
	</ul>
</div>
</body>
</html>