<!DOCTYPE html>
<html>
<head>
	<title>户型鉴赏（爱美爱家演示）</title>
	<meta charset="utf-8">
	<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
</head>
<body>
<div class="detail_page">
	<div class="pic">
		<div class="swiper-container">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide"><img src="images/map.jpg"></div>
	            <div class="swiper-slide"><img src="images/map.jpg"></div>
	            <div class="swiper-slide"><img src="images/map.jpg"></div>
	        </div>
	        <!-- Add Pagination -->
	        <div class="swiper-pagination"></div>
	    </div>
	    <script src="js/swiper.min.js"></script>

	    <!-- Initialize Swiper -->
	    <script>
	    var swiper = new Swiper('.swiper-container', {
	        pagination: '.swiper-pagination',
	        paginationClickable: true
	    });
	    </script>
	</div>
	<div class="text">
		<h3>花千墅 <span>2</span>跃<span>3</span> <span>189.82</span></h3> 
		<span class="keywords">下沉式花园</span>
		<div class="content">
			<p>【纯粹私人天地】跑步机是最好的聆听着，将怀情绪一扫而尽，再播上一曲加州旅馆，就着咖啡香，打个盹。</p>
			<p>【生活百宝箱】闲置物品，都舍不得丢弃。孩子的第一幅画，太太买的第一件西装，独立储藏室装下满满回忆。</p>
			<p>【创变一层花园】自创的小乐园，每周末都是亲子时刻。贪靓的太太，每天的日光SPA，绝对不能耽误。</p>
			<p>【多元家庭厅】孩子爱拼图，爸妈钟爱下棋，太太最爱煲剧，终于有一个地方，能包容所有成员的乐趣。</p>
			<p>【纯粹私人天地】跑步机是最好的聆听着，将怀情绪一扫而尽，再播上一曲加州旅馆，就着咖啡香，打个盹。</p>
			<p>【生活百宝箱】闲置物品，都舍不得丢弃。孩子的第一幅画，太太买的第一件西装，独立储藏室装下满满回忆。</p>
			<p>【创变一层花园】自创的小乐园，每周末都是亲子时刻。贪靓的太太，每天的日光SPA，绝对不能耽误。</p>
			<p>【多元家庭厅】孩子爱拼图，爸妈钟爱下棋，太太最爱煲剧，终于有一个地方，能包容所有成员的乐趣。</p>
		</div>
	</div>
</div>
</body>
</html>