<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no,date=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>爱美爱家</title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/base.css" >
    <link rel="stylesheet" type="text/css" href="css/index.css" >
</head>
<body>
<div id="wrap">
    <div id="seckill">
        <img alt="" src="images/57562f00ddb90.png" />
        <div id="skbox" class="clearfix">
            <div class="sklist">
                <div class="w30 fl marlb25 po-re">
                    <!-- <div class="countdown_bg">
                        <img src="images/opacity.png" />
                        <span>
                        </span>
                    </div> -->
                    <a href="###">
                        <img src="images/57562b1b17bea.png" />
                    </a>
                </div>
                <div class="w30 fl marlb25 po-re">
                    <div class="countdown_bg">
                        <img src="images/opacity.png" />
                        <span>
                            2016-01-01<br>
                            10:00-14:00<br>
                            活动结束
                        </span>
                    </div>
                    <a href="###">
                        <img src="images/57562b3b08af8.png" />
                    </a>
                </div>
                <div class="w30 fl marlb25 po-re">
                    <div class="countdown_bg">
                        <img src="images/opacity.png" />
                        <span>
                            2016-01-01<br>
                            10:00-14:00<br>
                            活动结束
                        </span>
                    </div>
                    <a href="###">
                        <img src="images/57562b655dfed.png" />
                    </a>
                </div>
            </div>
            <div class="sklist">
                <div class="w30 fl marlb25 po-re">
                    <div class="countdown_bg">
                        <img src="images/opacity.png" />
                       <span>
                            2016-01-01<br>
                            10:00-14:00<br>
                            活动结束
                        </span>
                    </div>
                    <a href="###">
                        <img src="images/57562b89a0c4b.png" />
                    </a>
                </div>
                <div class="w30 fl marlb25 po-re">
                    <div class="countdown_bg">
                        <img src="images/opacity.png" />
                        <span>
                            2016-01-01<br>
                            10:00-14:00<br>
                            活动结束
                        </span>
                    </div>
                    <a href="###">
                        <img src="images/57562bcf3a007.png"
                        />
                    </a>
                </div>
                <div class="w30 fl marlb25 po-re">
                    <div class="countdown_bg">
                        <img src="images/opacity.png" />
                        <span>
                            2016-01-01<br>
                            10:00-14:00<br>
                            活动结束
                        </span>
                    </div>
                    <a href="###">
                        <img src="images/57562bfb72fca.png"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="share-step"></div>

</body>
</html>