<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.union.nonbusiness.area.dao.NonbisCityCodeDao" >
  <resultMap id="BaseResultMap" type="team.union.nonbusiness.area.model.NonbisCityCode" >
    <id column="CITY_ID" property="cityId" jdbcType="BIGINT" />
    <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" />
    <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
    <result column="CITY_FULL_NAME" property="cityFullName" jdbcType="VARCHAR" />
    <result column="CITY_FULL_CODE" property="cityFullCode" jdbcType="VARCHAR" />
    <result column="CITY_PARENT_CODE" property="cityParentCode" jdbcType="VARCHAR" />
    <result column="SORT_ID" property="sortId" jdbcType="INTEGER" />
    <result column="ALL_SPELL_CODE" property="allSpellCode" jdbcType="VARCHAR" />
    <result column="SIMPLE_SPELL_CODE" property="simpleSpellCode" jdbcType="VARCHAR" />
    <result column="LEVEL_NUMBER" property="levelNumber" jdbcType="INTEGER" />
    <result column="IS_USE" property="isUse" jdbcType="TINYINT" />
    <result column="IS_READ_ONLY" property="isReadOnly" jdbcType="TINYINT" />
    <result column="CHILD_SIZE" property="childSize" jdbcType="INTEGER" />
    <result column="OPEN_TIME" property="openTime" jdbcType="TIMESTAMP" />
    <result column="OPEN_STUTAS" property="openStutas" jdbcType="INTEGER" />
    <result column="CLOSE_TIME" property="closeTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    CITY_ID, CITY_CODE, CITY_NAME, CITY_FULL_NAME, CITY_FULL_CODE, CITY_PARENT_CODE, 
    SORT_ID, ALL_SPELL_CODE, SIMPLE_SPELL_CODE, LEVEL_NUMBER, IS_USE, IS_READ_ONLY, CHILD_SIZE, 
    OPEN_TIME, OPEN_STUTAS, CLOSE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from nonbis_city_code
    where CITY_ID = #{cityId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from nonbis_city_code
    where CITY_ID = #{cityId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="team.union.nonbusiness.area.model.NonbisCityCode" >
    insert into nonbis_city_code (CITY_ID, CITY_CODE, CITY_NAME, 
      CITY_FULL_NAME, CITY_FULL_CODE, CITY_PARENT_CODE, 
      SORT_ID, ALL_SPELL_CODE, SIMPLE_SPELL_CODE, 
      LEVEL_NUMBER, IS_USE, IS_READ_ONLY, 
      CHILD_SIZE, OPEN_TIME, OPEN_STUTAS, 
      CLOSE_TIME)
    values (#{cityId,jdbcType=BIGINT}, #{cityCode,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, 
      #{cityFullName,jdbcType=VARCHAR}, #{cityFullCode,jdbcType=VARCHAR}, #{cityParentCode,jdbcType=VARCHAR}, 
      #{sortId,jdbcType=INTEGER}, #{allSpellCode,jdbcType=VARCHAR}, #{simpleSpellCode,jdbcType=VARCHAR}, 
      #{levelNumber,jdbcType=INTEGER}, #{isUse,jdbcType=TINYINT}, #{isReadOnly,jdbcType=TINYINT}, 
      #{childSize,jdbcType=INTEGER}, #{openTime,jdbcType=TIMESTAMP}, #{openStutas,jdbcType=INTEGER}, 
      #{closeTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="team.union.nonbusiness.area.model.NonbisCityCode" >
    insert into nonbis_city_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="cityCode != null" >
        CITY_CODE,
      </if>
      <if test="cityName != null" >
        CITY_NAME,
      </if>
      <if test="cityFullName != null" >
        CITY_FULL_NAME,
      </if>
      <if test="cityFullCode != null" >
        CITY_FULL_CODE,
      </if>
      <if test="cityParentCode != null" >
        CITY_PARENT_CODE,
      </if>
      <if test="sortId != null" >
        SORT_ID,
      </if>
      <if test="allSpellCode != null" >
        ALL_SPELL_CODE,
      </if>
      <if test="simpleSpellCode != null" >
        SIMPLE_SPELL_CODE,
      </if>
      <if test="levelNumber != null" >
        LEVEL_NUMBER,
      </if>
      <if test="isUse != null" >
        IS_USE,
      </if>
      <if test="isReadOnly != null" >
        IS_READ_ONLY,
      </if>
      <if test="childSize != null" >
        CHILD_SIZE,
      </if>
      <if test="openTime != null" >
        OPEN_TIME,
      </if>
      <if test="openStutas != null" >
        OPEN_STUTAS,
      </if>
      <if test="closeTime != null" >
        CLOSE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=BIGINT},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityFullName != null" >
        #{cityFullName,jdbcType=VARCHAR},
      </if>
      <if test="cityFullCode != null" >
        #{cityFullCode,jdbcType=VARCHAR},
      </if>
      <if test="cityParentCode != null" >
        #{cityParentCode,jdbcType=VARCHAR},
      </if>
      <if test="sortId != null" >
        #{sortId,jdbcType=INTEGER},
      </if>
      <if test="allSpellCode != null" >
        #{allSpellCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleSpellCode != null" >
        #{simpleSpellCode,jdbcType=VARCHAR},
      </if>
      <if test="levelNumber != null" >
        #{levelNumber,jdbcType=INTEGER},
      </if>
      <if test="isUse != null" >
        #{isUse,jdbcType=TINYINT},
      </if>
      <if test="isReadOnly != null" >
        #{isReadOnly,jdbcType=TINYINT},
      </if>
      <if test="childSize != null" >
        #{childSize,jdbcType=INTEGER},
      </if>
      <if test="openTime != null" >
        #{openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openStutas != null" >
        #{openStutas,jdbcType=INTEGER},
      </if>
      <if test="closeTime != null" >
        #{closeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="team.union.nonbusiness.area.model.NonbisCityCode" >
    update nonbis_city_code
    <set >
      <if test="cityCode != null" >
        CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        CITY_NAME = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityFullName != null" >
        CITY_FULL_NAME = #{cityFullName,jdbcType=VARCHAR},
      </if>
      <if test="cityFullCode != null" >
        CITY_FULL_CODE = #{cityFullCode,jdbcType=VARCHAR},
      </if>
      <if test="cityParentCode != null" >
        CITY_PARENT_CODE = #{cityParentCode,jdbcType=VARCHAR},
      </if>
      <if test="sortId != null" >
        SORT_ID = #{sortId,jdbcType=INTEGER},
      </if>
      <if test="allSpellCode != null" >
        ALL_SPELL_CODE = #{allSpellCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleSpellCode != null" >
        SIMPLE_SPELL_CODE = #{simpleSpellCode,jdbcType=VARCHAR},
      </if>
      <if test="levelNumber != null" >
        LEVEL_NUMBER = #{levelNumber,jdbcType=INTEGER},
      </if>
      <if test="isUse != null" >
        IS_USE = #{isUse,jdbcType=TINYINT},
      </if>
      <if test="isReadOnly != null" >
        IS_READ_ONLY = #{isReadOnly,jdbcType=TINYINT},
      </if>
      <if test="childSize != null" >
        CHILD_SIZE = #{childSize,jdbcType=INTEGER},
      </if>
      <if test="openTime != null" >
        OPEN_TIME = #{openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openStutas != null" >
        OPEN_STUTAS = #{openStutas,jdbcType=INTEGER},
      </if>
      <if test="closeTime != null" >
        CLOSE_TIME = #{closeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CITY_ID = #{cityId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.union.nonbusiness.area.model.NonbisCityCode" >
    update nonbis_city_code
    set CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      CITY_NAME = #{cityName,jdbcType=VARCHAR},
      CITY_FULL_NAME = #{cityFullName,jdbcType=VARCHAR},
      CITY_FULL_CODE = #{cityFullCode,jdbcType=VARCHAR},
      CITY_PARENT_CODE = #{cityParentCode,jdbcType=VARCHAR},
      SORT_ID = #{sortId,jdbcType=INTEGER},
      ALL_SPELL_CODE = #{allSpellCode,jdbcType=VARCHAR},
      SIMPLE_SPELL_CODE = #{simpleSpellCode,jdbcType=VARCHAR},
      LEVEL_NUMBER = #{levelNumber,jdbcType=INTEGER},
      IS_USE = #{isUse,jdbcType=TINYINT},
      IS_READ_ONLY = #{isReadOnly,jdbcType=TINYINT},
      CHILD_SIZE = #{childSize,jdbcType=INTEGER},
      OPEN_TIME = #{openTime,jdbcType=TIMESTAMP},
      OPEN_STUTAS = #{openStutas,jdbcType=INTEGER},
      CLOSE_TIME = #{closeTime,jdbcType=TIMESTAMP}
    where CITY_ID = #{cityId,jdbcType=BIGINT}
  </update>
  <select id="selectCityNodes" parameterType="hashmap" resultMap="BaseResultMap">
      select CITY_ID,CITY_CODE,CITY_NAME,CITY_FULL_NAME,CITY_FULL_CODE,LEVEL_NUMBER,CHILD_SIZE,OPEN_TIME,OPEN_STUTAS,CLOSE_TIME from nonbis_city_code
      <where>
          <if test="openStart != null">
              AND OPEN_TIME &gt;= #{openStart}
          </if>
          <if test="openEnd != null">
              AND OPEN_TIME &lt;= #{openEnd}
          </if>
          <if test="closeStart != null">
              AND CLOSE_TIME &gt;= #{closeStart}
          </if>
          <if test="closeEnd != null">
              AND CLOSE_TIME &lt;= #{closeEnd}
          </if>
          <if test="status != null">
              AND OPEN_STUTAS = #{status}
          </if>
          <if test="cityFullCode!=null">
              AND CITY_FULL_CODE LIKE #{cityFullCode}
          </if>
          <if test="levelNumber!=null">
              AND LEVEL_NUMBER = #{levelNumber}
          </if>
          <if test="cityParentCode!=null">
              AND CITY_PARENT_CODE = #{cityParentCode}
          </if>  
          <if test="cityCode!=null">
              AND CITY_CODE = #{cityCode}
          </if> 
          <if test="codeList!=null">
              AND CITY_CODE in 
             <foreach item="item" index="index" collection="codeList" open="(" separator="," close=")">  
  				#{item}
 			</foreach>
          </if>                    
      </where>     
  </select>
  <select id="selProvincesAndCity"  resultMap="BaseResultMap">
      select CITY_ID,CITY_CODE,CITY_NAME,CITY_FULL_NAME,CITY_FULL_CODE,LEVEL_NUMBER,CHILD_SIZE,OPEN_TIME,OPEN_STUTAS,CLOSE_TIME from nonbis_city_code where LEVEL_NUMBER in (1,2)
  </select>
</mapper>