<!DOCTYPE html>
<html class="no-js">
	<head>
	<meta charset="UTF-8">
	<title>优惠券新增</title>
	<meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <!-- common start -->
    <link rel="stylesheet" href="../../new_ui/styles/vendor.css">
    <link rel="stylesheet" type="text/css" href="../../new_ui/styles/plugins/grid/bsgrid.all.min.css">
    <link rel="stylesheet" href="../../new_ui/styles/main.css">
    <link rel="stylesheet" href="../../new_ui/scripts/lib/validform/style.css">	
    <script src="../../new_ui/scripts/vendor.js"></script>
    <script type="text/javascript" src="../../new_ui/scripts/plugins/grid/grid.zh-CN.min.js"></script>
    <script type="text/javascript" src="../../new_ui/scripts/plugins/grid/bsgrid.all.min.js"></script>
    <script src="../../new_ui/scripts/main.js"></script>
	<script src="../../new_ui/scripts/jquery.placeholder.js"></script>
	<script type="text/javascript" src="../../new_ui/scripts/lib/validform/Validform_v5.3.2_min.js"></script>
	<script type="text/javascript" src="../../support/web_support.js"></script>
	<script type="text/javascript" src="../../new_ui/layerui/layer/layer.js"></script>
	<script type="text/javascript" src="../../new_ui/scripts/plugins/dropzone.min.js"></script>
	<link rel="stylesheet" href="../../new_ui/styles/plugins/dropzone.css">
    <!-- common end -->
    
    <!-- page js -->
    <script src="js/add.js"></script>
    <script src="js/upload.js"></script>
	</head>
	<body>
		<div class="wrapper wrapper-content animated fadeInUp">
			<div class="row">
				<div class="col-md-12">
					<div class="tab-content">
						<div id="tab-1" class="tab-pane active">
							<div class="ibox">
								<div class="ibox-title">
									<h5>
										<i class="fa fa-sliders"></i> 优惠券新增
									</h5>
								</div>
								<div class="ibox-content form">
									<form id ="viewForm" class="form-horizontal">
										<div class="modal-body">
											<div class="form-body">
												<input type="hidden" id="couponId" name="couponId" value="">
												<div class="form-group">
													<label class="col-md-3 control-label">优惠券名称：</label>
													<div class="col-md-4">
														<input datatype="*2-25" maxlength="25"
															id="couponName" name="couponName" type="text" class="form-control input-sm">
													</div>
													<div class="Validform_checktip">请输入优惠券名称，2~25字！</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">优惠券金额：</label>
													<div class="col-md-4">
														<input  id="couponMoney" name="couponMoney" datatype="/^(0|[1-9]\d*)$/"
															type="number" class="form-control input-sm">
													</div>
													<div class="Validform_checktip">请输入优惠券金额！</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">消费满：</label>
													<div class="col-md-4">
														<input id="couponBaseLine" name="couponBaseLine" datatype="/^(0|[1-9]\d*)$/"
													 		type="number" class="form-control input-sm">
													</div>
													<div class="Validform_checktip">元可使用！</div>
												</div>
												<!-- <div class="form-group">
													<label class="col-md-3 control-label">优惠券状态：</label>
													<div class="col-md-4">
														 <select class="form-control input-sm"  name="couponStatus">
										                      <option value="1">已上线</option>
										                      <option value="2">已过期</option>
										                      <option value="3">已下线</option>
										                      <option value="4">未生效</option>
										                 </select>
													</div>
												</div> -->
												<div class="form-group">
													<label class="col-md-3 control-label">有效期范围：</label>
													<div class="col-md-4">
														<div class="input-daterange input-group" id="datetime_01">
									                      <input required="required" type="text" class="input-sm form-control date" name="couponValidityStart" placeholder="点击选择开始日期"/>
									                      <span class="input-group-addon">到</span>
									                      <input required="required" type="text" class="input-sm form-control date" name="couponValidityEnd" placeholder="点击选择截止日期"/>
									                    </div>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">领取截止时间：</label>
													<div class="col-md-4">
														<input  id="couponReceiveEnd" name="couponReceiveEnd" 
														type="datetime" class="form-control input-sm" placeholder="点击选择日期">
													</div>
													<div class="Validform_checktip">为空则为有效期截止时间！</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">发放数量：</label>
													<div class="col-md-4">
														<input id="couponGrantNum" name="couponGrantNum" datatype="/^(0|[1-9]\d*)$/"
													 		type="number" class="form-control input-sm">
													</div>
													<div class="Validform_checktip">领取优惠券超出此数自动下线，0表示无限！</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">每人领取次数：</label>
													<div class="col-md-4">
														<input id="couponReceiveTimes" name="couponReceiveTimes" datatype="/^(0|[1-9]\d*)$/"
													 		type="number" class="form-control input-sm">
													</div>
													<div class="Validform_checktip">每个用户可领取优惠券次数，0表示无限！</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">每次领取的张数：</label>
													<div class="col-md-4">
														<input id="couponEveryNum" name="couponEveryNum" datatype="/^(0|[1-9]\d*)$/"
													 		type="number" class="form-control input-sm">
													</div>
													<div class="Validform_checktip">每个用户可领取优惠券此数，0表示无限！</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">排序：</label>
													<div class="col-md-4">
														<input id="couponSort" name="couponSort" datatype="/^(0|[1-9]\d*)$/"
													 		type="number" class="form-control input-sm">
													</div>
													<div class="Validform_checktip">数字越大越靠前！</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">优惠券描述：</label>
													<div class="col-md-4">
														<textarea datatype="*0-200" maxlength="200" 
															id="couponDes" name="couponDes" class="form-control input-sm">
														 </textarea>
													</div>
													<!-- <div class="Validform_checktip">请输入优惠券描述！</div> -->
												</div>
												<div  class="dropzone form-group" id=couponShareImg>
													  介绍图片：<input type="hidden" name="couponShareImg" value="">
										            <div class="fallback">
										                <input name="file" type="file" multiple />
										            </div>
										        </div>
										        <div class="form-group">
													<label class="col-md-3 control-label">分享标题：</label>
													<div class="col-md-4">
														<input id="couponShareTitle" datatype="*0-30" maxlength="30" name="couponShareTitle"
													 		type="text" class="form-control input-sm">
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">分享描述：</label>
													<div class="col-md-4">
														<input id="couponShareDes" datatype="*0-100" maxlength="100" name="couponShareDes"
													 		type="text" class="form-control input-sm">
													</div>
												</div>
											</div>
										</div>
										<div class="form-actions">
					                      <div class="row">
					                        <div class="col-md-offset-3 col-md-9">
					                          <button onclick="javascript:window.history.back(-1);" type="button" class="btn btn-default"
												data-dismiss="modal">取消</button>
											  <button type="submit" id="saveBtn" class="btn btn-primary">确定</button>
					                        </div>
					                      </div>
					                   </div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>