<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="js/pako.min.js" /></script>
<!-- 使用md5、rsa、sha256公共js -->
<script src="js/pidcrypt.js" /></script>
<script src="js/pidcrypt_util.js" /></script>
<script src="js/asn1.js" /></script>
<script src="js/jsbn.js" /></script>
<script src="js/rng.js" /></script>
<script src="js/prng4.js" /></script>
<script src="js/rsa.js" /></script>
<!-- 生成签名 -->
<script src="js/jsrsasign-all-min.js" /></script>
<script src="js/keyutil-1.0.js" /></script>

<script src="js/encrypt.js" /></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


</head>
<body>
<form name="form1">
<input id="a" value="1">
<input type="text" name="msgsigned" size="100" value="123"/><br/>
<textarea name="prvkey1" rows="10" cols="65">
-----BEGIN RSA PRIVATE KEY-----
MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAJMKbnWSEoS4OaSYj9F3WMBapjAA6mflMTqZA4X8etYFE3uK2BUHOrS+xQtC+dCMbIlYW9tXDvre0X5BA4RtNVfHqceajGH1YKZHIOSDd9OLclY8NFDh0OIpyYHADTM9YkaQAx3MT89M8GyP9Mp5JpWpX8sxsHQApzC5dymTwOrNAgMBAAECgYATKkLndBiRz+lDeNcV+DZLLAWJMDVdQVQ/TP5Wkmf4SUUWzywG4aBXOp44L4ycEBF9fVTLq/c535zylcq9kfZnvTS7EhANoUOHQEeJil2ag+hmmcivOWpE8qxxH9AmcdJkqOzgVtWbWTFZYAJMF1vBqNEZTGKqxWGzl2x6sWZdAQJBAOdDIQMKo7WbawtE1BfET6gQn/M5/N9mFKEkBBxBqFbyb3eAN/Qcl8R9dxREGeHB/nJhjYH4G3by6oGs/L9ozyECQQCixPyUp+8ABTsepUkBkx8lKto+NdFHe3R+9GBxG7vAWbVPfUkcxaSJzodk7FOEKDOULP1ydp4viqW6J7yRLkItAkBuUnfNG6Y9XIcUOSF0tRHK+yNSxLb9W5U7yhKr6CaGU+EZAPGwYnOEKNZFtLckG4dmyWLYPaPcesWkVwG7ziQBAkEAiJobhELf4LuDHzgF6i1nkRDCsj0GUyB352f+XE6zJj3jXT+/EUeJzCGpHXj8qkf26Z9MYTjNjwakCXP53DnfTQJAdY0w477+RstaupdRL11W/UGfASKdJx34IF+jaUXXjWlsT3k8x8l5daW0JpSRWyFNnLo6OdpPdCOmk06mhN1MXQ==
-----END RSA PRIVATE KEY-----
</textarea><br/>
<select name="hashalg">
<option value="sha1" selected>SHA1
<option value="sha256">SHA256
<option value="sha512">SHA512
<option value="md5">MD5
<option value="ripemd160">RIPEMD-160
</select>
<input type="button" value="Sign to this message &darr;" onClick="doSign();"/><br/>
</form>
<script type="text/javascript">
	var model = {};
		model.data="中国";
	    var encryptData= encrypt(JSON.stringify(model),publicKey,privateKey,"md5");
	    model.data= encryptData.data;
	    $.ajax({
            type: "post",
            headers:{'sign': encryptData.sign,'str':encryptData.str,'times':encryptData.times},
            url:  "/integration/test/model/view?data="+"qwesdasdqeasdaweq",
            data: JSON.stringify(model),
//             contentType:"application/json",
//             dataType: "json",
            success: function(data){
            		
			},
			error:function(data) {
			},
			complete:function(){
			}
        });
	

</script>
</body>
</html>