<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>点点帮商城运营平台</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="renderer" content="webkit">
        <link rel="shortcut icon" href="new_ui/ic_launcher_logo.png">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="new_ui/styles/vendor.css">
        <link rel="stylesheet" href="new_ui/styles/plugins/fancybox/jquery.fancybox.css">
        <link rel="stylesheet" href="new_ui/styles/main.css">
        <link rel="stylesheet" href="new_ui/styles/index.css">
        <script src="new_ui/scripts/vendor/modernizr.js"></script>
        <!--[if lt IE 9]>
        <script src="new_ui/scripts/ie9.js"></script>
        <![endif]-->
        <!--[if lt IE 8]>
        <script type="text/javascript">
        window.location.href = "unsupport-browser.html";
        </script>
        <![endif]-->
       
    </head>
    <body class="index">
        <nav class="navbar navbar-inverse" id="top_nav">
            <div class="container-fluid">
                <p class="navbar-text navbar-right">
                <span href="#" class="navbar-link">
                  <i class="icon-user"></i>
                  <span id="userTrueNameSpan">你好，支付开发人员</span>
                </span>
                 <!--  
                <span>|</span>
                <a href="#" class="navbar-link"><i class="icon-lock"></i>修改密码</a>
                -->
                <span>|</span>
                <!-- https://demo.ddb.com:8443/cas/logout?service=http://localhost:8080/base-web -->
                <a href="logout" class="navbar-link"><i class="icon-logout"></i>安全退出</a>
                </p>
            </div>
        </nav>
        <nav class="navbar navbar-default" id="main_nav">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#index_menu_toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">点点帮商城运营平台</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="index_menu_toggle">
                    <ul class="nav navbar-nav">
                          <li class="nav_item dropdown">
                            <a href="new_ui/ui_comp/example01.html">UI组件 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="new_ui/ui_comp/example01.html">布局示例01</a></li>
                                <li><a href="new_ui/ui_comp/example02.html">布局示例02</a></li>
                                <li><a href="new_ui/ui_comp/ui_grid.html">栅格系统</a></li>
                                <li><a href="new_ui/ui_comp/ui_tabs_panels.html">面板和tab</a></li>
                                <li><a href="new_ui/ui_comp/ui_table.html">表格Table</a></li>
                                <li><a href="new_ui/ui_comp/ui_table_drag.html">表格拖拽</a></li>
                                <li><a href="new_ui/ui_comp/ui_basic_form.html">基本表单</a></li>
                                <li><a href="new_ui/ui_comp/ui_form_layouts.html">表单布局</a></li>
                                <li><a href="new_ui/ui_comp/ui_extra_form.html">其他表单组件</a></li>
                                <li><a href="new_ui/ui_comp/ui_steps.html">步骤组件</a></li>
                                <li><a href="new_ui/ui_comp/ui_button.html">按钮Buttons</a></li>
                                <li><a href="new_ui/ui_comp/ui_badges_labels.html">徽章、标签、进度条</a></li>
                                <li><a href="new_ui/ui_comp/ui_notifications.html">通知框、提示框</a></li>
                                <li><a href="new_ui/ui_comp/ui_icons.html">图标</a></li>
                                <li><a href="new_ui/ui_comp/ui_typography.html">文字排版</a></li>
                                <li><a href="new_ui/ui_comp/ui_gallary.html">图片、幻灯及fancybox</a></li>
                                <li><a href="new_ui/ui_comp/ui_modal.html">弹出框</a></li>
                                <li><a href="new_ui/ui_comp/ui_portfolio.html">作品集</a></li>
                                <li><a href="new_ui/ui_comp/ui_404.html">404页面</a></li>
                                <li><a href="new_ui/ui_comp/ui_500.html">500页面</a></li>
                                <li><a href="new_ui/ui_comp/ui_notaccess.html">访问受限</a></li>
                            </ul>
                        </li> 
                        <li class="nav_item dropdown">
                            <a href="eshop/shop/shopList.html">平台商家店铺管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                            	<li><a href="eshop/business/businessList.html">商家信息管理</a></li>
                            	<li><a href="eshop/shop/shopList.html">店铺信息管理</a></li>
                                <li><a href="eshop/shop/shopAuditList.html">店铺审核管理</a></li>
                             <!--  <li><a href="test/demos/demo01.html">店铺启用禁用</a></li> -->
                            </ul>
                        </li>
                        <li class="nav_item dropdown">
                            <a href="eshop/commodities/commoditiesList.html">商品管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                            	<li><a href="eshop/commodities/commoditiesList.html">商品信息管理</a></li>
                            	<!-- <li><a href="eshop/commodities/commoditiesList.html">商品新增</a></li>-->
                                <!-- <li><a href="eshop/utf8-jsp/index.html">商品详情</a></li>  -->
                                <li><a href="eshop/commodities/commoditiesCheckList.html">商品审核</a></li>
                            </ul>
                        </li>
                        <li class="nav_item dropdown">
                            <a href="eshop/orders/eShopOrderList.html">订单管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="eshop/orders/eShopOrderList.html">店铺订单管理</a></li>
                                <!-- <li><a href="eshop/orders/eOrderList.html">总订单查询</a></li> -->
                                <li><a href="eshop/orders/receiptList.html">收款单管理</a></li>
                                <li><a href="eshop/orders/shipments.html">发货单管理</a></li>
                                <!--
                                <li><a href="eshop/orders/requestMRB.html">退货申请单管理</a></li>
                                <li><a href="#">退货单管理</a></li>
                                <li><a href="#">退款单管理</a></li>
                                 -->
                            </ul>
                        </li>
                        <li class="nav_item dropdown">
                            <a href="eshop/billing/eBillingOrderList.html">结算管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="eshop/billing/eBillingOrderList.html">结算单查询</a></li>
                                <li><a href="eshop/billing/eBillingOrderCheckList.html">结算单审核</a></li>
                                <li><a href="eshop/billing/eBillingOrderAccountList.html">结算单结算</a></li>
                            </ul>
                        </li>
                        
                        <li class="nav_item dropdown">
                            <a href="eshop/activity/snapUpList.html">营销管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="eshop/activity/snapUpList.html">抢购活动管理</a></li>
                                <li><a href="eshop/marketing/privilege.html">优惠券方案管理</a></li>
                                <li><a href="eshop/marketing/privilegeList.html">优惠券查询</a></li>
                            </ul>
                        </li>
                        
                        <li class="nav_item dropdown">
                            <a href="eshop/reporting/operating_survey.html">报表管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="eshop/reporting/operating_survey.html">经营概况管理</a></li>
                                <li><a href="eshop/reporting/settlement.html">结算报表</a></li>
                                <li><a href="eshop/reporting/shop_sales_statistics.html">店铺销售统计</a></li>
                                <li><a href="eshop/reporting/goods_sales_statistics.html">商品销售统计</a></li>
                            </ul>
                        </li>
                        <li class="nav_item dropdown">
                            <a href="eshop/baseconfig/eCommoditiesRecommendList.html">前端管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="eshop/baseconfig/eCommoditiesRecommendList.html">首页精选商品推荐位配置管理</a></li>
                                <li><a href="eshop/baseconfig/eCommoditiesActiveList.html">首页抢购活动推荐位配置管理</a></li>
                                <li><a href="eshop/baseconfig/powerpoint.html">幻灯片管理</a></li>
                                <li><a href="eshop/baseconfig/eShopOpenAreaList.html">地区管理</a></li>
                                 <!-- <li><a href="eshop/common/coCityTree.html">测试</a></li> -->
                            	
                            </ul>
                        </li>
                        <li class="nav_item dropdown">
                            <a href="eshop/baseconfig/mailWay.html">基础管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="eshop/baseconfig/mailWay.html">配送方式管理</a></li>
                                <li><a href="eshop/baseconfig/pay_way.html">支付方式管理</a></li>                             
                            </ul>
                        </li>
                        
                       <li class="nav_item dropdown">
                            <a href="sys/user/index.html">系统管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="sys/user/index.html">用户管理</a></li>
                                <li><a href="sys/role/index.html">角色管理</a></li>
                                <li><a href="sys/resource/index.html">资源管理</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="main_cont">
            <nav id="left_nav">
            <ul class="nav nav-pills nav-stacked"></ul>
        </nav>
        <div id="right_cont">
            <iframe id="iframe" href=""  width="100%" frameborder="0"></iframe>
        </div>
    </div>
    <div id="footer">
        <div class="pull-right">
            <strong>长虹</strong> [智慧社区云平台]
        </div>
        <div>
            <strong>Copyright</strong> Changhong © 2014-2015
        </div>
    </div>
    <script src="new_ui/scripts/vendor.js"></script>
    <script src="new_ui/scripts/plugins/fancybox.js"></script>
    <script src="new_ui/scripts/index.js"></script>
    <script src="new_ui/scripts/main.js"></script>
    <script src="new_ui/scripts/plugins/jquery.cookie.js"></script>
    <script type="text/javascript">

    $(function(){
    	var drop_list = $("ul[class='nav navbar-nav']");
		var first_drop = drop_list.find('li[class]').eq(0);
		var first_li = first_drop.find('li').eq(0);
		first_li.find('a').click();
    });
    
    </script>
</body>
</html>