<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>ui_comp</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../../new_ui/styles/vendor.css">
    <!-- page plugin -->
    <link rel="stylesheet" type="text/css" href="../../new_ui/styles/plugins/grid/bsgrid.all.min.css">
    <!-- page plugin end -->
    <link rel="stylesheet" href="../../new_ui/styles/main.css">
    
    <script src="../../support/encrypt/js/pako.min.js" /></script>
	<!-- 使用md5、rsa、sha256公共js -->
	<script src="../../support/encrypt/js/pidcrypt.js" /></script>
	<script src="../../support/encrypt/js/pidcrypt_util.js" /></script>
	<script src="../../support/encrypt/js/asn1.js" /></script>
	<script src="../../support/encrypt/js/jsbn.js" /></script>
	<script src="../../support/encrypt/js/rng.js" /></script>
	<script src="../../support/encrypt/js/prng4.js" /></script>
	<script src="../../support/encrypt/js/rsa.js" /></script>
	<!-- 生成签名 -->
	<script src="../../support/encrypt/js/jsrsasign-all-min.js" /></script>
	<script src="../../support/encrypt/js/keyutil-1.0.js" /></script>
	<script src="../../support/encrypt/js/encrypt.js" /></script>
    
    
    <script src="../../new_ui/scripts/vendor.js"></script>
    <!-- page plugin -->
    <script type="text/javascript" src="../../new_ui/scripts/plugins/grid/grid.zh-CN.min.js"></script>
    <script type="text/javascript" src="../../new_ui/scripts/plugins/grid/bsgrid.all.min.js"></script>
    <!-- page plugin end -->
    <script src="../../new_ui/scripts/main.js"></script>
    <script src="js/index.js"></script>
  </head>
  <body>
    <div class="wrapper wrapper-content">
      <ol class="breadcrumb">
        您的位置：
        <li class="active">客户管理</li>
      </ol>
      <div class="row">
        <div class="col-md-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5><i class="fa fa-building-o"></i>  客户/ 层级管理</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content">
              <form action="#" id="search_form" class="form-inline mbl">
                <div class="form-body">
                  <div class="form-group">
                    <input id="userName" name="userName" type="text" class="form-control input-sm" placeholder="用户姓名">
                  </div>
                  <div class="form-group">
                    <select class="form-control input-sm" name="" placeholder="审核状态">
                      <option value="">审核状态</option>
                      <option>Option 1</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                      <option>Option 4</option>
                      <option>Option 5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <select class="form-control input-sm" placeholder="费用类型">
                      <option value="">费用类型</option>
                      <option>Option 1</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                      <option>Option 4</option>
                      <option>Option 5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <select class="form-control input-sm" placeholder="申请类型">
                      <option value="">申请类型</option>
                      <option>Option 1</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                      <option>Option 4</option>
                      <option>Option 5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <div class="input-daterange input-group" id="datetime_01">
                      <input type="text" class="input-sm form-control date" name="start" placeholder="申请日期"/>
                      <span class="input-group-addon">到</span>
                      <input type="text" class="input-sm form-control date"  name="end" placeholder="申请日期"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="button" onclick="doSearch()" class="btn btn-sm btn-primary">
									<i class="fa fa-search"></i>搜索</button>
					<button type="reset" class="btn btn-sm mls">重置</button>
                  </div>
                </div>
              </form>
              <div class="grid_wrapper">
                <div class="mbm">
                  <input type="hidden" id="ids">
                  <button id="btn_refresh" type="button" class="btn btn-sm btn-primary">刷新</button>
                  <button id="btn_create" type="button" onclick="add()" class="btn btn-sm btn-primary">新增</button>
                  <button id="btn_export" type="button" class="btn btn-sm btn-primary">导出</button>
                </div>
                <table id="searchTable" class="table table-condensed table-bordered table-striped table-hover">
                  <tr>
                    <th w_index="wechat_name" width="10%;">微信名称</th>
                    <th w_index="ID" width="10%;">账号名称</th>
                    <th w_index="role_type" w_align="left" width="10%;">角色</th>
                    <th w_render="showImg" w_align="left" width="15%;">头像</th>
                    <th w_index="project_id" width="15%;">所属项目</th>
                    <th w_index="mechanism_id" width="15%;">所属机构</th>
                    <th w_index="dvpt_no" width="15%;">发展人数</th>
                    <th w_index="total_no" width="15%;">总人数</th>
                    <th w_render="operate" width="10%;">Operate</th>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>