<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>ui_comp</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">

    <link rel="stylesheet" href="../styles/vendor.css">
    <link rel="stylesheet" href="../styles/main.css">
    <!-- page plugin css -->
    
    <!-- page plugin css end -->
    <script src="../scripts/vendor/modernizr.js"></script>
    <!--[if lt IE 9]>
    <script src="../scripts/ie9.js"></script>
    <![endif]-->
    
    
  </head>
  <body>
    <div class="middle-box text-center animated fadeInDown">
      <h2>访问受限</h2>
      <h3 class="font-bold">您的权限不够</h3>
      <div class="error-desc">
        抱歉，您的权限不够，无法访问此页面，请联系管理员，然后刷新网页。或者尝试其他链接。
        <a href="#" class="btn btn-primary block">返回主页</a>
      </div>
    </div>
    <script src="../scripts/vendor.js"></script>
    

    <!-- page plugin -->
    
    <!-- page plugin end -->
    <script src="../scripts/main.js"></script>
  </body>
</html>