<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>ui_comp</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="renderer" content="webkit">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="../styles/vendor.css">
        <link rel="stylesheet" href="../styles/main.css">
        <!-- page plugin css -->
        
        <!-- page plugin css end -->
        <script src="../scripts/vendor/modernizr.js"></script>
        <!--[if lt IE 9]>
        <script src="../scripts/ie9.js"></script>
        <![endif]-->
        
        
    </head>
    <body>
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="row page-heading">
                <h4><i class="fa fa-flask"></i>  UI组件 / 作品集</h4>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>作品集 Portfolio</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <!-- BEGIN FILTER -->
                            <div class="mtm">
                                <ul class="mix-filter">
                                    <li class="filter" data-filter="all">
                                        All
                                    </li>
                                    <li class="filter" data-filter=".category_1">
                                        UI Design
                                    </li>
                                    <li class="filter" data-filter=".category_2">
                                        Web Development
                                    </li>
                                    <li class="filter" data-filter=".category_3">
                                        Photography
                                    </li>
                                    <li class="filter" data-filter=".category_3 .category_1">
                                        Wordpress and Logo
                                    </li>
                                </ul>
                                <div class="row mix-grid">
                                    <div class="col-md-3 col-sm-4 mix category_1">
                                        <div class="mix-inner">
                                            <img class="img-responsive" src="../images/p_big1.jpg" alt="" />
                                            <div class="mix-details">
                                                <h5>作品名称</h5>
                                                <a class="mix-link">
                                                    <i class="fa fa-link"></i>
                                                </a>
                                                <a class="mix-preview fancybox" href="../images/p_big1.jpg" title="Project Name">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 mix category_2">
                                        <div class="mix-inner">
                                            <img class="img-responsive" src="../images/p_big2.jpg" alt="" />
                                            <div class="mix-details">
                                                <h5>作品名称</h5>
                                                <a class="mix-link">
                                                    <i class="fa fa-link"></i>
                                                </a>
                                                <a class="mix-preview fancybox" href="../images/p_big2.jpg" title="Project Name">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 mix category_3">
                                        <div class="mix-inner">
                                            <img class="img-responsive" src="../images/p_big3.jpg" alt="" />
                                            <div class="mix-details">
                                                <h5>作品名称</h5>
                                                <a class="mix-link">
                                                    <i class="fa fa-link"></i>
                                                </a>
                                                <a class="mix-preview fancybox" href="../images/p_big3.jpg" title="Project Name">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 mix category_1 category_2">
                                        <div class="mix-inner">
                                            <img class="img-responsive" src="../images/p_big1.jpg" alt="" />
                                            <div class="mix-details">
                                                <h5>作品名称</h5>
                                                <a class="mix-link">
                                                    <i class="fa fa-link"></i>
                                                </a>
                                                <a class="mix-preview fancybox" href="../images/p_big1.jpg" title="Project Name">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 mix category_2 category_1">
                                        <div class="mix-inner">
                                            <img class="img-responsive" src="../images/p_big2.jpg" alt="" />
                                            <div class="mix-details">
                                                <h5>作品名称</h5>
                                                <a class="mix-link">
                                                    <i class="fa fa-link"></i>
                                                </a>
                                                <a class="mix-preview fancybox" href="../images/p_big2.jpg" title="Project Name">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 mix category_1 category_2">
                                        <div class="mix-inner">
                                            <img class="img-responsive" src="../images/p_big3.jpg" alt="" />
                                            <div class="mix-details">
                                                <h5>作品名称</h5>
                                                <a class="mix-link">
                                                    <i class="fa fa-link"></i>
                                                </a>
                                                <a class="mix-preview fancybox" href="../images/p_big3.jpg" title="Project Name">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 mix category_2 category_3">
                                        <div class="mix-inner">
                                            <img class="img-responsive" src="../images/p_big1.jpg" alt="" />
                                            <div class="mix-details">
                                                <h5>作品名称</h5>
                                                <a class="mix-link">
                                                    <i class="fa fa-link"></i>
                                                </a>
                                                <a class="mix-preview fancybox" href="../images/p_big1.jpg" title="Project Name">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 mix category_1 category_2">
                                        <div class="mix-inner">
                                            <img class="img-responsive" src="../images/p_big2.jpg" alt="" />
                                            <div class="mix-details">
                                                <h5>作品名称</h5>
                                                <a class="mix-link">
                                                    <i class="fa fa-link"></i>
                                                </a>
                                                <a class="mix-preview fancybox" href="../images/p_big2.jpg" title="Project Name">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 mix category_3">
                                        <div class="mix-inner">
                                            <img class="img-responsive" src="../images/p_big1.jpg" alt="" />
                                            <div class="mix-details">
                                                <h5>作品名称</h5>
                                                <a class="mix-link">
                                                    <i class="fa fa-link"></i>
                                                </a>
                                                <a class="mix-preview fancybox" href="../images/p_big1.jpg" title="Project Name">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 mix category_1">
                                        <div class="mix-inner">
                                            <img class="img-responsive" src="../images/p_big3.jpg" alt="" />
                                            <div class="mix-details">
                                                <h5>作品名称</h5>
                                                <a class="mix-link">
                                                    <i class="fa fa-link"></i>
                                                </a>
                                                <a class="mix-preview fancybox" href="../images/p_big3.jpg" title="Project Name">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END FILTER -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../scripts/vendor.js"></script>
        <!-- page plugin -->
        <script src="../scripts/plugins/jquery.mixitup.min.js"></script>
        <!-- page plugin end -->
        <script src="../scripts/main.js"></script>
        <script type="text/javascript">
        $(function(){
        $('.mix-grid').mixItUp();
        })
        </script>
    </body>
</html>